/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * LinkoAbluxxen implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * linkoabluxxen.css
 *
 * LinkoAbluxxen stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (linkoabluxxen_linkoabluxxen.tpl), and to HTML elements you create dynamically
    (in linkoabluxxen.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.card-front {
  background-image: url("img/cards.png") !important;
}

.card--back {
  background-position: -306px -10px !important;
}

.card-front[data-type="14"],
.card--14 {
  background-position: -10px -448px !important;
}

.card-front[data-type="12"],
.card--12 {
  background-position: -602px -448px !important;
}

.card-front[data-type="7"],
.card--7 {
  background-position: -10px -229px !important;
}

.card-front[data-type="8"],
.card--8 {
  background-position: -306px -448px !important;
}

.card-front[data-type="3"],
.card--3 {
  background-position: -158px -10px !important;
}

.card-front[data-type="1"],
.card--1 {
  background-position: -454px -229px !important;
}

.card-front[data-type="10"],
.card--10 {
  background-position: -602px -10px !important;
}

.card-front[data-type="13"],
.card--13 {
  background-position: -454px -10px !important;
}

.card-front[data-type="9"],
.card--9 {
  background-position: -602px -229px !important;
}

.card-front[data-type="5"],
.card--5 {
  background-position: -158px -229px !important;
}

.card-front[data-type="11"],
.card--11 {
  background-position: -158px -448px !important;
}

.card-front[data-type="2"],
.card--2 {
  background-position: -306px -229px !important;
}

.card--PAW {
  background-position: -454px -448px !important;
}

.card-front[data-type="6"],
.card--6 {
  background-position: -750px -10px !important;
}

.card-front[data-type="4"],
.card--4 {
  background-position: -10px -10px !important;
}

.bga-cards_card > .bga-cards_card-sides > .bga-cards_card-side {
  box-shadow: none !important;
}

.linko-play-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center-area {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.card-stock-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.stock-label {
  font-weight: bold;
  font-size: 14px;
}

.pool-area {
  min-width: 300px;
  min-height: 120px;
}

.pool-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  min-height: 100px;
  padding: 10px;
}

.hand-area {
  margin-top: 20px;
}

.counter {
  background: #333;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.card-stock .bga-cards_selectable-card {
  outline: none !important;
}
